<jsv-header>
	<button-header-left></button-header-left>
    Mercuri 
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<!-- <h1 class="paddingFull10">Content View A</h1> -->
		<h3 style="color:blue">El Sistema Solar</h3>
		<h5>4t ESO 2015 2016</h5>

		<p>Aquest projecte és delSergi.Explicarem el Sistema Solar...</p>

			<button class="bgYellow btn-centrat" onClick="$JSView.goToView('venus')">Venus</button>
		
		<!--
			<button class="bgYellow btn-centrat" onClick="$JSView.goToView('mercuri')">Pàgina C/3</button>
		-->	
		
		<!--	<p>
		Mercurio es el planeta del Sistema Solar más próximo al Sol y el más pequeño. 
		Forma parte de los denominados planetas interiores o terrestres y carece de satélites.
		Se conocía muy poco sobre su superficie hasta que fue enviada la sonda planetaria Mariner 10 y se
		hicieron observaciones con radar y radiotelescopios
		Antiguamente se pensaba que Mercurio siempre presentaba la misma cara al Sol, situación similar al caso de
		la Luna con la Tierra; es decir, que su periodo de rotación era igual a su periodo de traslación, ambos de 88 días.
		Sin embargo, en 1965 se mandaron impulsos de radar hacia Mercurio, con lo cual quedó definitivamente demostrado que
		su periodo de rotación era de 58,7 días, lo cual es 2/3 de su periodo de traslación. Esto no es coincidencia, y es una
		situación denominada resonancia orbital.
		Al ser un planeta cuya órbita es inferior a la de la Tierra, Mercurio periódicamente pasa delante del Sol, 
		fenómeno que se denomina tránsito astronómico. Observaciones de su órbita a través de muchos años demostraron que el 
		perihelio gira 43" de arco más por siglo de lo predicho por la mecánica clásica de Newton. Esta discrepancia llevó 
		a un astrónomo francés, Urbain Le Verrier, a pensar que existía un planeta aún más cerca del Sol, al cual llamaron 
		Vulcano, que perturbaba la órbita de Mercurio. Ahora se sabe que Vulcano no existe; la explicación correcta del 
		comportamiento del perihelio de Mercurio se encuentra en la Teoría General de la Relatividad.
		
		        </p>
			<button class="bgYellow btn-centrat" onClick="$JSView.openModal('modalA')">Modal A</button>
		-->	
		
		<!--	
			<div style="display: block;margin-left: auto;margin-right: auto;" class="btn-centrat">
				<a class="waves-effect waves-light btn-large"><i class="material-icons left">alarm</i>Materializecss</a>
			<div>
		-->	
			
	</div>
			
</jsv-content>
